<template>
<!-- App.vue -->
  <v-app>
    <v-navigation-drawer app v-model="drawer">
      <v-list-item class="px-2 pt-4 pb-4" v-if="!guest">
        <v-list-item-avatar>
          <v-img src="https://randomuser.me/api/portraits/women/85.jpg"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="text-h6">
            Mbak Indah
          </v-list-item-title>
          <v-list-item-subtitle>
            indah25@gmail.com
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      
      <div class="pa-2" v-if="guest">
        <v-btn block color="primary" class="mb-1">
          <v-icon left>mdi-lock</v-icon>
          Sign In
        </v-btn>
        <v-btn block color="success" class="">
          <v-icon left>mdi-account</v-icon>
          Sign Up
        </v-btn>
      </div>

      <v-divider></v-divider>

      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="(item, index) in menus"
          :key="`menu-${index}`"
          :to="item.route"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <!-- Logout -->
      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark>
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app color="blue darken-4" dark>
      <!-- Hamburger Menu -->
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>{{websiteTitle}}</v-toolbar-title>
      <v-spacer></v-spacer>
      
      <!-- <v-btn text v-for="(item, index) in menus" :key="`menu-${index}`" href="#">
        {{item.title}}
      </v-btn> -->
      <v-spacer></v-spacer>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <v-container fluid>
        <v-slide-y-transition>
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>

    <v-footer app>
      @{{websiteTitle}}
    </v-footer>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    drawer: true,
    websiteTitle: 'Portal Berita',
    menus: [
      {title: 'Beranda', icon: 'mdi-home', route: '/'},
      {title: 'Berita', icon: 'mdi-home', route: '/berita'},
      {title: 'Tentang', icon: 'mdi-home', route: '/tentang'},
    ],
    guest: true
  })
};
</script>
