<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <v-subheader style="font-size: 15px">
      Semua Berita
    </v-subheader>
    <v-layout wrap>
      <v-flex xs6 md5 v-for="berita in beritas" :key="`berita-` + berita.id"> 
        <v-card :to="`/berita/` + berita.id">
          <v-img :src="berita.photo ? apiDomain + berita.photo : 'https://dummyimage.com/392x299/424242/fff'" class="white--text pb-5" height="300px">
            <v-card-title class="fill-height align-end">{{berita.judul}}...</v-card-title>
            <v-card-subtitle class="fill-height align-end">{{berita.updated_at | moment("from", "now")}}</v-card-subtitle>
          </v-img>
        </v-card>
      </v-flex>
    </v-layout>
    <v-pagination v-model="page" @input="go" :length="lengthPage" :total-visible="perPage"></v-pagination>
  </v-container>
</template>

<script>
// const { default: func }=require("vue-temp/vue-editor-bridge");
  export default {
    data: () => ({
      beritas: [],
      apiDomain: 'https://portalberita-app.herokuapp.com',
      page: 0,
      lengthPage: 0,
      perPage: 0
    }),
    methods: {
      go() {
        const config = {
          method :'get',
          url: this.apiDomain +'/api/berita-page',
          params: {'page' : this.page}
        }
        this.axios(config)
          .then(response => {
            this.beritas = response.data.data.data
            this.page = response.data.data.current_page
            this.lengthPage = response.data.data.last_page
            this.perPage = response.data.data.per_page
          })
          .catch(error => {
            console.log(error)
          })
      }
    },
    created() {
      this.go()
    }
  }
</script>