<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/berita" class="blue--text">
        Semua Berita <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <v-flex md8>
        <v-card>
          <v-img src="https://bit.ly/3uvUWZX" class="white--text pb-5" height="340px">
            <v-card-title class="fill-height align-end">MotoGP Indonesia : Sudah ada?</v-card-title>
            <v-card-subtitle class="fill-height align-end">2 jam yang lalu</v-card-subtitle>
          </v-img>
        </v-card>
      </v-flex>
    </v-layout>
    
    <div class="text-left red--text bold mb-3 mt-6" style="font-weight:bold;">News Feed</div>
    <v-layout wrap class="p-5">
      <v-list>
      <v-flex v-for="berita in beritas" :key="`berita-` + berita.id" lg8 xs6>
        <v-card
            outlined
            :to="`/berita/` + berita.id"
          >
            <v-list-item>
              <v-img :src="'https://dummyimage.com/100x100/424242/fff'" aspect-ratio="1" max-height="100px" max-width="100px" class="mr-3"></v-img>
              <v-list-item-content>
                <v-list-item-title class="text-h5 mb-1">
                  {{berita.judul}}
                </v-list-item-title>
                <!-- <v-list-item-subtitle>Dipublish pada: {{berita.updated_at}}</v-list-item-subtitle> -->
                <v-list-item-subtitle>{{berita.updated_at | moment("from", "now")}}</v-list-item-subtitle>
              </v-list-item-content>

            </v-list-item>
          </v-card>
        </v-flex>
      </v-list>
    </v-layout>
  </v-container>
</template>

<script>
// const { default: func }=require("vue-temp/vue-editor-bridge");
  export default {
    data: () => ({
      beritas: [],
      menus: [
        {title: 'Beranda', icon: 'mdi-home', route: '/'},
        {title: 'Berita', icon: 'mdi-home', route: '/berita'},
        {title: 'Tentang', icon: 'mdi-home', route: '/tentang'},
      ],
    }),
    methods: {
      fetchBerita () {
        const config = {
          url: 'https://portalberita-app.herokuapp.com/api/berita',
          method :'get'
        }
        this.axios(config)
          .then(response => {
            this.beritas = response.data.data
          })
          .catch(error => {
            console.log(error)
          })
      }
    },
    created() {
      this.fetchBerita()
    }
  }
</script>